.responsive-embed-youtube {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}
.responsive-embed-youtube iframe, .responsive-embed-youtube object, .responsive-embed-youtube embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
        right:10px;
}